@font-face{
  font-family: SF UI Display;
  src:url(fonts/SFUIDisplay-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: SF UI Display;
  src:url(fonts/SFUIDisplay-Light.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: SF UI Display;
  src:url(fonts/SFUIDisplay-Semibold.woff2);
  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-family: SF UI Display;
  src:url(fonts/SFUIDisplay-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: Poppins;
  src:url(fonts/Poppins-SemiBold.woff2);
  font-weight:600;
  font-style: normal;
}