@import 'src/n3-styles/variables.scss';


.root{
    width: 100%;
    height: 100%;
}
.description {
    color:$black_opacity;
    margin-bottom:rem(30px);
}

.remember {
    color:$black_opacity;
    margin-bottom:rem(10px);
}

.loginLink {
    color:$dark_blue;
    font-weight: 600;
}

.button {
    margin-bottom: rem(30px);
}